/* /Pages/Index.razor.rz.scp.css */
/* /Shared/Footer.razor.rz.scp.css */
.root[b-lf96mu8um2] {
	padding: 10px;
}
/* /Shared/MainLayout.razor.rz.scp.css */
#page[b-feyq76cjdv] {
	display: flex;
	flex-direction: column;
}

#h-div[b-feyq76cjdv] {
	display: flex;
}

[b-feyq76cjdv] .sidebar {
	flex-grow: 1;
}

.main[b-feyq76cjdv] {
	background-color: hsl(0 0% 79%);
	flex-grow: 10;
	padding: 10px;
}
/* /Shared/SideBar.razor.rz.scp.css */
.root[b-iz4zin3ck4] {
	background-color: hsl(128 52% 47%)
}

ul[b-iz4zin3ck4] {
	margin: 10px;
	padding: 0;
}

li[b-iz4zin3ck4] {
	list-style-type: none;
	padding: 0;
	margin-bottom: 6px;
}

[b-iz4zin3ck4] a {
	text-decoration: none;
	width: 90%;
	display: inline-block;
	background-color: hsl(160 60% 51%);
	border-radius: 10px;
	padding: 10px;
}

[b-iz4zin3ck4] a:active {
	text-decoration: none;
}

[b-iz4zin3ck4] a:hover {
	text-decoration: none;
}
/* /Shared/TopBar.razor.rz.scp.css */
.root[b-fk9n2jmgm6] {
	padding: 10px;
	background-image: linear-gradient(171deg, #0000a0 0%, #900050 100%);
	color: hsl(0 0% 78%)
}

/*
::deep a:link {
	text-decoration: none !important;
	margin: 5px;
	padding: 5px;
	border-radius: 5px;
	color: black;
	background-color: white;
}

::deep a:visited {
	text-decoration: none !important;
}

::deep a:hover {
	text-decoration: none !important;
}

::deep a:active {
	text-decoration: none !important;
}
 */
