@inherits LayoutComponentBase

<div id="page">
	<TopBar classes="topbar" />

	<div id="h-div">
		<SideBar classes="sidebar"/>

		<main class="main">
			@Body
		</main>
	</div>

	<Footer classes="footer" />
</div>
