@inherits LayoutComponentBase

<div id="page" class="container">
	<div class="top-bar row">
		<NavMenu/>
	</div>

	<main class="main row">
		<div class="content px-4">
			@Body
		</div>
	</main>

	<div class="row">
		<Footer />
	</div>
	
</div>
