@inherits BaseComponent;

<nav class="root @classes">
	<ul>
		<li><NavLink ActiveClass="active" href="" Match="NavLinkMatch.All">Home</NavLink></li>
		<li><NavLink ActiveClass="active" href="link">Link</NavLink></li>
	</ul>
</nav>
